@import "variables";
:host {
  height: 100%;
  width: 100%;
}
.courses-page {
  height: 100%;
  width: 100%;
  padding-top: 2.1rem;
  &__header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $courses-page-header-height;
    width: 100%;
    margin-bottom: $courses-page-header-margin-bottom;
    padding: $wrapper-paddings;
  }
  &__header {
    width: 100%;
    height: 100%;
    max-width: $content-max-width;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__filters {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  &__actions {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(
      100% - #{$courses-page-header-height} - #{$courses-page-header-margin-bottom}
    );
    width: 100%;
    padding: 0 $content-padding;
  }
  &__list {
    width: 100%;
    height: 100%;
    max-width: 1130px;
    padding: 1rem 1rem 2.1rem;
    overflow-y: overlay;

    @-moz-document url-prefix() {
      overflow-y: auto;
    }
  }
}
