<div class="tag-field">
  <div class="tag-field__field-wrapper">
    <app-field [title]="title" [control]="control" [id]="fieldName" [isRequired]="isRequired"
      lengthModificator="medium">
      <div #tagContainer class="tag-field__container" (click)="activateInput($event)">
        <div class="tag-field__tags">
          <div class="tag-field__tag-wrapper" *ngFor="let author of control.value; trackBy: trackByFn">
            <app-tag [value]="author" (deleteEvent)="removeAuthor($event)"></app-tag>
          </div>
        </div>
        <input #tagInput type="text" placeholder="{{placeholder}}" class="tag-field__input" id="{{fieldName}}"
          (blur)="[touchControl()]" (input)="searchAuthors(tagInput.value)" (click)="searchAuthors(tagInput.value)">
        <ul (click)="addAuthor($event)" class="tag-field__authors-list"
          [ngClass]="{'tag-field__authors-list--hidden': !isAuthorListVisible}">
          <li class="tag-field__author" *ngFor="let author of authors$ | async">{{author.name}}</li>
        </ul>
      </div>
    </app-field>
  </div>
</div>