@import "colors";
@import "variables";
@import "mixins";

:host {
  @include height-width-100-percent;
}

.tag-field {
  @include height-width-100-percent;

  &__field-wrapper {
    @include height-width-100-percent;
  }
  &__container {
    @include field;
    @include flex-row;

    position: relative;
    padding: 0;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__tags {
    @include flex-row;
    @include scrollbar;

    overflow-x: auto;
  }
  &__tag-wrapper {
    flex-shrink: 0;
    margin: $tag-margins;

    &:first-child {
      margin-left: 0.5rem;
    }
  }
  &__hints {
    @include scrollbar;

    position: absolute;
    top: 97%;
    left: -1px;
    width: calc(100% + 2px);
    height: min-content;
    max-height: calc(#{$field-min-height} * 3);
    border: 1px solid $field-border-color;
    overflow-y: overlay;

    &--hidden {
      display: none;
    }
  }
  &__hint {
    @include flex-row;
    @include input-text;

    width: 100%;
    height: $field-min-height;
    align-items: center;
    padding: 0 $field-padding;
    background-color: $third-bg-color;
    list-style: none;
    cursor: pointer;

    &:not(:first-child) {
      border-top: 1px solid $field-border-color;
    }
    &:hover {
      background-color: $third-bg-color-hover;
    }
  }
  &__input {
    @include input;

    min-height: $field-min-height;
    padding: 0 $field-padding;
    flex-grow: 1;
    border: none;
    background-color: transparent;
  }
}
