<div class="login-form">
  <form [formGroup]="loginForm" class="login-form__form">
    <div class="login-form__header">
      <div class="login-form__header-title-wrapper">
        <h2 class="login-form__header-title">Login</h2>
      </div>
      <div *ngIf="isVisibleWarning" class="login-form__warning">Wrong e-mail or password</div>
    </div>
    <div class="login-form__field-list">
      <div class="login-form__field-wrapper">
        <app-field title="Email">
          <input #fieldContent formControlName="username" (input)="hideWarning()" type="text" placeholder="Enter e-mail"
            class="login-form__input" required>
        </app-field>
      </div>
      <div class="login-form__field-wrapper">
        <app-field title="Password">
          <input #fieldContent formControlName="password" (input)="hideWarning()" type="password"
            placeholder="Enter password" class="login-form__input" required>
        </app-field>
      </div>
    </div>
    <div class="login-form__actions">
      <a href="#" class="login-form__forgot-password">Forgot password?</a>
      <div class="login-form__buttons-wrapper">
        <button [disabled]="loginForm.invalid" (click)="login()" type="submit"
          class="button button--green login-form__button">
          <span class="button__text">Login</span>
        </button>
      </div>
    </div>
  </form>
</div>