@import "colors";
@import "variables";
@import "mixins";

:host {
  @include height-width-100-percent;
}

.login-form {
  @include height-width-100-percent;
  @include content-container;

  &__form {
    @include height-width-100-percent;
  }
  &__header {
    @include flex-row;

    align-items: center;
    margin-bottom: $primary-content-margin;
  }
  &__header-title-wrapper {
    flex-grow: 1;
  }
  &__header-title {
    @include primary-title;
  }
  &__warning {
    color: $text-warning-color;
    font-size: $secondary-font-size;
  }
  &__field-list {
    width: 100%;
    height: min-content;
  }
  &__field-wrapper {

    &:not(:first-child) {
      margin-top: 1.2rem;
    }
  }
  &__input {
    @include input-field;
  }
  &__actions {
    @include flex-row;

    justify-content: space-between;
    align-items: center;
    margin-top: $primary-content-margin;
  }
  &__buttons-wrapper {
    @include flex-row;
  }
  &__forgot-password {
    color: $text-link-color;
    font-size: $secondary-font-size;

    &:hover {
      color: $text-link-color-hover;
    }
    &:active {
      color: $text-link-color-focus;
    }
  }
  &__button {
    padding: 0 2.3rem;
  }
}
