:host {
  width: 100%;
  height: 100%;
}
.breadcrumbs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &__path {
    color: #464a5a;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
