@import "colors";
@import "variables";
@import "mixins";

:host {
  @include height-width-100-percent;
}
.footer {
  @include height-width-100-percent;
  &__content {
    @include flex-row;
    align-items: center;
    justify-content: flex-end;

    @include height-width-100-percent;
  }
  &__copyright {
    font-size: $secondary-font-size;

    color: $text-third-color;
  }
}
