@import "colors";
@import "variables";

:host {
  width: 100%;
  height: 100%;
}
.footer {
  width: 100%;
  height: 100%;
  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
  }
  &__copyright {
    font-size: $secondary-font-size;

    color: $text-third-color;
  }
}
