@import "colors";
@import "variables";
@import "mixins";

:host {
  @include height-width-100-percent;
}

.duration-field {
  @include height-width-100-percent;
  @include flex-row;

  justify-content: flex-start;
  align-items: flex-end;

  &__field-wrapper {
    @include height-width-100-percent;
  }
  &__content {
    @include height-width-100-percent;
    @include flex-row;

    position: relative;
  }
  &__input-wrapper {
    @include height-width-100-percent;
  }
  &__input {
    @include input-field;
  }
  &__time-wrapper {
    @include flex-row;

    position: absolute;
    left: 100%;
    width: max-content;
    align-items: center;
    margin-left: 1.9rem;
    min-height: $field-min-height;
  }
  &__time {
    color: $text-primary-color;
    font-size: $primary-font-size;
  }
}
