:host{
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 100%;
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__logo {
    height: 100%;
    padding: 0 1.2rem;
  }
  &__user {
    height: 100%;
  }
}
