@import "mixins";
:host {
  @include height-width-100-percent;

}
.header {
  @include height-width-100-percent;
  &__content {
    @include flex-row;
    justify-content: space-between;

    @include height-width-100-percent;
  }
  &__logo {
    height: 100%;
  }
  &__user {
    height: 100%;
  }
}
