@import "colors";
@import "variables";
@import "mixins";

:host {
  @include height-width-100-percent;
}
.courses-list {
  width: 100%;

  &__cards-wrapper {
    width: 100%;
    & > :not(:first-child) {
      display: block;

      margin-top: $primary-content-margin;
    }
  }

  &__load-more-button {
    @include load-more-button;
  }
}
