@import "variables";
:host {
  width: 100%;
  height: min-content;
}
.course-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: min-content;

  &__button {
    min-height: $btn-secondary-min-height;
    padding: $btn-secondary-paddings;
  }
  &__icon {
    width: $btn-third-icon-size;
    height: $btn-third-icon-size;
  }
  &__text {
    font-size: $btn-secondary-font-size;
  }
}
