:host {
  height: 100%;
  width: 100%;
}
.course-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  &__button {
    padding: 0 1.2rem 0 0.9rem;
    min-height: 2.4rem;
  }
  &__icon {
    width: 1rem;
    height: 1rem;
  }
  &__text {
    font-size: 1.2rem;
  }
}
