<div class="course-actions">
  <button class="button course-actions__button">
    <img
      class="button__icon course-actions__icon"
      src="assets/icons/edit.svg"
      alt="edit"
    />
    <span class="button__text course-actions__text">Edit</span>
  </button>
  <button (click)="delete()" class="button course-actions__button">
    <img
      class="button__icon course-actions__icon"
      src="assets/icons/bin.svg"
      alt="bin"
    />
    <span class="button__text course-actions__text">Delete</span>
  </button>
</div>
