<div class="date-field">
  <div class="date-field__field-wrapper">
    <app-field [title]="title" [control]="control" [id]="fieldName" [isRequired]="isRequired">
      <div class="date-field__content">
        <input appInvalidDateHandler class="date-field__input"
          [ngClass]="{'date-field__input--invalid':control.value && control.invalid && control.touched}"
          type="text" autocomplete="off" placeholder="{{placeholder}}" id="{{fieldName}}"
          [ngModel]="getValue()" (ngModelChange)="setValue($event)" #dp="bsDatepicker"
          bsDatepicker [bsConfig]="bsConfig" [minDate]="minDate" placement="right" (blur)=" touchControl()">
        <img (click)=" dp.toggle()" class="date-field__icon" src="assets/icons/calendar.svg" alt="calendar" />
      </div>
    </app-field>
  </div>
</div>