@import "colors";
@import "variables";
@import "mixins";
:host {
  @include height-width-100-percent;
}
.course-tools {
  @include flex-row;
  justify-content: flex-end;

  @include height-width-100-percent;

  &__tool {
    @include flex-row;
    align-items: center;

    height: 100%;
    &:not(:first-child) {
      margin-left: $primary-content-margin;
    }
  }

  &__icon {
    width: $icon-size;
    height: $icon-size;
    margin-right: 0.5rem;

    filter: $icon-third-filter;
  }

  &__value {
    font-size: $primary-font-size;

    color: $tools-text-color;
  }
}
