@import "colors";
@import "variables";
@import "mixins";
:host {
  @include height-width-100-percent;
}
.user {
  @include flex-row;

  @include height-width-100-percent;
  &__button {
    position: relative;

    @include flex-row;
    align-items: center;

    padding: $user-buttons-paddings;

    cursor: pointer;

    border: none;
    background-color: $btn-third-bg-color;
  }
  &__button:hover &__text {
    color: $btn-text-hover-color;
  }
  &__button:hover &__icon {
    filter: $icon-secondary-filter-hover;
  }

  &__icon {
    width: $btn-secondary-icon-size;
    height: $btn-secondary-icon-size;
    margin-right: $secondary-content-margin;

    filter: $icon-secondary-filter;
  }

  &__text {
    font-size: $primary-font-size;

    color: $btn-text-color;
  }
}
