:host {
  width: 100%;
  height: 100%;
}
.user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &__button {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:not(:first-child) {
      margin: 0 0 0 2.4rem;
    }
  }
  &__button:hover &__text {
    color: #009ecc;
  }
  &__button:hover &__icon {
    filter: invert(41%) sepia(90%) saturate(3190%) hue-rotate(167deg)
      brightness(101%) contrast(101%);
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.8rem;
    filter: invert(99%) sepia(1%) saturate(1742%) hue-rotate(141deg)
      brightness(116%) contrast(100%);
  }

  &__text {
    color: #ffffff;
    font-size: 1.4rem;
  }
}
