@import "variables";
@import "mixins";
@import "colors";

:host {
  @include height-width-100-percent;
}

.courses-page {
  @include height-width-100-percent;

  &__breadcrumbs-wrapper {
    @include flex-row;

    position: sticky;
    top: 0;
    justify-content: center;
    width: 100%;
    height: $breadcrumbs-height;
    padding: $wrapper-paddings;
    background-color: $third-bg-color;
    box-shadow: $primary-shadow;
    z-index: 1;
  }
  &__breadcrumbs {
    @include height-width-100-percent;

    max-width: $content-max-width;
  }
  &__pages {
    @include scrollbar;

    width: 100%;
    height: calc(100% - #{$breadcrumbs-height});
    padding-top: 2.1rem;
    overflow-y: auto;
  }
}
