@import "colors";
@import "variables";
@import "mixins";

:host {
  position: fixed;
  width: 100%;
  height: min-content;
  max-width: $confirmation-modal-max-width;
  z-index: $modal-z-index;
}

.confirmation-modal {
  @include height-width-100-percent;
  @include flex-column;

  background-color: $third-bg-color;
  border-radius: $primary-border-radius;

  &__header {
    @include height-width-100-percent;

    border-bottom: 1px solid $ninth-color;
    padding: $modal-paddings;
  }
  &__content {
    @include height-width-100-percent;

    max-height: 95px;
    padding: $modal-content-paddings;
    overflow-y: scroll;
  }
  &__footer {
    @include height-width-100-percent;

    border-top: 1px solid $ninth-color;
    padding: $modal-paddings;
  }
  &__text {
    @include height-width-100-percent;
    @include modal-text;
  }
}
