@import "mixins";

.spaceman {
  @include height-width-100-percent;
}

#spaceman {
  @include base-animation(spaceman);
}

#planet {
  @include base-animation(planet);
  @include svg-center;
}

#stars {

  #stars-big line {
    @include base-animation(stars-big);
    @include svg-center;
  }
  #stars-small line {
    @include base-animation(stars-small);
    @include svg-center;
  }
  #circles-small {
    @include base-animation(circles-small);
  }
  #circles-big {
    @include base-animation(circles-big);
  }
}

@keyframes spaceman {

  to {
    transform: translateY(0.5rem);
  }
}
@keyframes planet {

  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes circles-small {

  to {
    transform: translateY(-0.5rem);
  }
}
@keyframes circles-big {

  to {
    transform: translateY(-0.3rem);
  }
}
@keyframes stars-big {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@keyframes stars-small {

  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
