.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  &__header-wrapper {
    background: #303240;
  }

  &__header {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1.6rem 1.5rem;
  }

  &__breadcrumbs {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
  }

  &__courses-page-wrapper {
    background-color: #f5f6fa;
    width: 100%;
    height: 100%;
  }

  &__courses-page {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}
