@import "colors";
@import "variables";
@import "mixins";

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include flex-column;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: stretch;


  width: 100%;
  min-width: $window-min-width;
  height: 100%;
  min-height: $window-min-height;

  &__header-wrapper {

    @include flex-column;
    align-items: center;

    width: 100%;
    height: $header-height;

    background-color: $secondary-bg-color;
  }

  &__header {
    width: 100%;
    max-width: 1140px;
    height: 100%;
  }

  &__main {
    width: 100%;
    height: calc(100% - #{$header-height} - #{$footer-height});
  }

  &__breadcrumbs-wrapper {
    @include flex-row;
    justify-content: center;

    width: 100%;
    height: $breadcrumbs-height;
    padding: $wrapper-paddings;

    background-color: $third-bg-color;
  }

  &__breadcrumbs {
    width: 100%;
    max-width: $content-max-width;
    height: 100%;
  }

  &__courses-page {
    width: 100%;
    height: calc(100% - #{$breadcrumbs-height});

    background-color: $primary-bg-color;
  }

  &__footer-wrapper {
    @include flex-column;
    align-items: center;

    width: 100%;
    height: $footer-height;
    padding: $wrapper-paddings;

    background-color: $secondary-bg-color;
  }

  &__footer {
    width: 100%;
    max-width: $content-max-width;
    height: 100%;
  }
}
