@import "colors";
@import "variables";
@import "mixins";

:host {
  @include height-width-100-percent;
}

.field {
  @include height-width-100-percent;
  @include flex-column;

  &__info {
    @include flex-row;

    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__title {
    @include field-title-text;
  }
  &__required {
    @include field-required-text;
  }
  &__error {
    color: $text-warning-color;
  }
}
