@import "colors";
@import "variables";
@import "mixins";
:host {
  @include height-width-100-percent;
}
.search {
  @include flex-row;

  @include height-width-100-percent;
  &__input {
    @include input-field;

    flex-grow: 1;
  }

  &__button {
    background-color: $btn-secondary-bg-color;
    &:hover {
      background-color: $btn-secondary-bg-color-hover;
    }
    &:active {
      background-color: $btn-secondary-bg-color-focus;
    }
  }
}
