:host {
  width: 100%;
  height: 100%;
}
.search {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__input {
    display: block;
    width: 100%;
    height: min-content;
    margin-right: 1.2rem;
    border-radius: 3px;
    border: 1px solid #ced0db;
    background-color: #ffffff;
    outline: none;
    letter-spacing: 0;
    color: #474a59;
    padding: 0.9rem 1.2rem;
    font-size: 1.4rem;
    transition-duration: 0.3s;

    &::-webkit-input-placeholder {
      color: #acafbf;
    }

    &:hover {
      border-color: darken(#ced0db, 10);
    }

    &:focus {
      border-color: #474a59;
    }
  }

  &__button {
    background-color: #67a300;
    &:hover {
      background-color: darken(#67a300, 5);
    }
    &:active {
      background-color: darken(#67a300, 15);
    }
  }
}
