@import "colors";
@import "variables";
@import "mixins";
:host {
  @include height-width-100-percent;
}
.logo {
  @include flex-row;

  @include height-width-100-percent;

  &__link {
    @include flex-row;
    align-items: center;

    padding: $logo-link-paddings;

    transition: letter-spacing 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-decoration: none;

    &:hover {
      letter-spacing: 0.5rem;
    }
  }

  &__image {
    width: $logo-size;
    height: $logo-size;
    margin-right: $logo-image-margin;
  }

  &__text {
    font-size: $logo-font-size;
    font-weight: 700;

    text-transform: uppercase;

    color: $text-third-color;
  }
}
