<div class="courses-list-page">
  <div class="courses-list-page__header-wrapper">
    <div class="courses-list-page__header">
      <div class="courses-list-page__filters">
        <app-filters (searchEvent)="filter($event)"></app-filters>
      </div>
      <div class="courses-list-page__actions">
        <app-actions></app-actions>
      </div>
    </div>
  </div>
  <div class="courses-list-page__list-wrapper">
    <div class="courses-list-page__list">
      <app-courses-list [courses]="courses" [isLoadMoreButtonVisible]="isLoadMoreButtonVisible" (deleteCourseEvent)="showDeleteConfirmationModal($event)"
        (editCourseEvent)="redirectToCoursePage($event)" (loadMoreCoursesEvent)="getFreshData()"> </app-courses-list>
    </div>
  </div>
</div>