/* You can add global styles to this file, and also import other style files */
@import "scss/fonts";
@import "scss/main-wrapper";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "SourceSansPro";
}
