@import "colors";
@import "variables";
@import "mixins";

.button {
  @include flex-row;
  align-items: center;

  @include button-field;

  &:not(:first-child) {
    margin-left: $btn-margin;
  }

  &__icon {
    @include icon-size($btn-primary-icon-size);
    margin-right: 0.7rem;

    filter: $icon-primary-filter;
  }

  &__text {
    @include button-text;
  }
}
