$primary-bg-color: #f5f6fa;
$secondary-bg-color: #303240;
$third-bg-color: #ffffff;

$text-primary-color: #474a59;
$text-secondary-color: #464a5a;
$text-third-color: #ffffff;

$title-text-primary-color: #333333;

$input-bg-color: #ffffff;
$input-text-color: #474a59;
$input-placeholder-color: #acafbf;
$input-border-color: #ced0db;
$input-border-focus-color: #474a59;

$btn-primary-bg-color: #009ecc;
$btn-secondary-bg-color: #67a300;
$btn-third-bg-color: transparent;

$btn-text-color: #ffffff;
$btn-text-hover-color: #009ecc;

$scroll-primary-bg-color: transparent;
$scroll-secondary-bg-color: rgba(71, 74, 89, 0.3);
$scroll-secondary-bg-hover-color: rgba(71, 74, 89, 0.4);
$scroll-secondary-bg-mozilla-color: #474a59;

$tools-text-color: #858997;
