$primary-color: rgb(245 246 250);
$secondary-color: rgb(48 50 64);
$third-color: #FFF;
$fourth-color: rgb(71 74 89);
$fifth-color: rgb(0 158 204);
$sixth-color: rgb(103 163 0);
$seventh-color: rgb(255 78 51);
$eighth-color: rgb(86 129 238);
$ninth-color: rgb(172 175 191);
$tenth-color: rgb(108 111 128);
$eleventh-color: rgb(29 30 38 / 0.7);
$twelfth-color: rgb(225 227 235);
$thirteenth-color: rgb(168 169 180);
$fourteenth-color: rgb(209 227 179);

$primary-bg-color: $primary-color;
$secondary-bg-color: $secondary-color;
$third-bg-color: $third-color;
$third-bg-color-hover: darken($third-color, 5);
$third-bg-color-focus: darken($third-color, 15);
$fourth-bg-color: #FCFCFC;
$fifth-bg-color: $eleventh-color;
$sixth-bg-color: $twelfth-color;
$seventh-bg-color: $fourteenth-color;

$overlay-bg-color: $fifth-bg-color;

$primary-shadow-color: rgb(29 30 38 / 0.1);
$secondary-shadow-color: rgb(29 30 38 / 0.15);

$text-primary-color: $fourth-color;
$text-secondary-color: rgb(70 74 90);
$text-third-color: $third-color;
$text-warning-color: $seventh-color;
$text-link-color: $eighth-color;
$text-link-color-hover: darken($text-link-color, 5);
$text-link-color-focus: darken($text-link-color, 15);

$primary-title-color: #333;
$secondary-title-color: $text-primary-color;
$input-text-color: $text-primary-color;
$input-placeholder-color: rgb(172 175 191);

$field-bg-color: $third-bg-color;
$field-border-color: rgb(206 208 219);
$field-border-color-hover: darken($field-border-color, 10);
$field-border-focus-color: $fourth-color;

$loader-bg-color: $fifth-color;

$btn-primary-color: $fifth-color;

$btn-primary-bg-color: $btn-primary-color;
$btn-primary-bg-color-hover: darken($btn-primary-color, 5);
$btn-primary-bg-color-focus: darken($btn-primary-color, 15);
$btn-secondary-bg-color: $sixth-color;
$btn-secondary-bg-color-hover: darken($btn-secondary-bg-color, 5);
$btn-secondary-bg-color-focus: darken($btn-secondary-bg-color, 15);
$btn-third-bg-color: transparent;
$btn-fourth-bg-color: $third-color;
$btn-fourth-bg-color-hover: darken($btn-fourth-bg-color, 5);
$btn-fourth-bg-color-focus: darken($btn-fourth-bg-color, 15);
$btn-disable-bg-color: $sixth-bg-color;

$btn-primary-border-color: $ninth-color;
$btn-primary-border-color-hover: darken($btn-primary-border-color, 5);
$btn-primary-border-color-focus: darken($btn-primary-border-color, 15);

$btn-text-color: $third-color;
$btn-text-hover-color: $btn-primary-color;
$btn-secondary-text-color: $tenth-color;

$btn-disable-text-color: $thirteenth-color;

$scroll-primary-bg-color: transparent;
$scroll-secondary-bg-color: rgb(71 74 89 / 0.3);
$scroll-secondary-bg-hover-color: rgb(71 74 89 / 0.4);

$tools-text-color: rgb(133 137 151);

$primary-border-color: $fifth-color;
$secondary-border-color: $sixth-color;
$warning-border-color: $seventh-color;

$tag-bg-color: $sixth-bg-color;
$tag-text-color: $text-primary-color;
