$primary-color: rgb(245 246 250);
$secondary-color: rgb(48 50 64);
$third-color: #FFF;
$fourth-color: rgb(71 74 89);
$fifth-color: rgb(0 158 204);
$sixth-color: rgb(103 163 0);

$primary-bg-color: $primary-color;
$secondary-bg-color: $secondary-color;
$third-bg-color: $third-color;
$third-bg-color-hover: darken($third-color, 5);
$third-bg-color-focus: darken($third-color, 15);
$fourth-bg-color: #FCFCFC;

$primary-shadow-color: rgb(29 30 38 / 0.1);
$secondary-shadow-color: rgb(29 30 38 / 0.15);

$text-primary-color: $fourth-color;
$text-secondary-color: rgb(70 74 90);
$text-third-color: $third-color;

$h3-color: #333;

$input-text-color: $text-primary-color;
$input-placeholder-color: rgb(172 175 191);

$field-bg-color: $third-bg-color;
$field-border-color: rgb(206 208 219);
$field-border-color-hover: darken($field-border-color, 10);
$field-border-focus-color: $fourth-color;

$btn-primary-color: $fifth-color;

$btn-primary-bg-color: $btn-primary-color;
$btn-primary-bg-color-hover: darken($btn-primary-color, 5);
$btn-primary-bg-color-focus: darken($btn-primary-color, 15);
$btn-secondary-bg-color: $sixth-color;
$btn-secondary-bg-color-hover: darken($btn-secondary-bg-color, 5);
$btn-secondary-bg-color-focus: darken($btn-secondary-bg-color, 15);
$btn-third-bg-color: transparent;

$btn-text-color: $third-color;
$btn-text-hover-color: $btn-primary-color;

$scroll-primary-bg-color: transparent;
$scroll-secondary-bg-color: rgb(71 74 89 / 0.3);
$scroll-secondary-bg-hover-color: rgb(71 74 89 / 0.4);

$tools-text-color: rgb(133 137 151);

$primary-border-color: $fifth-color;
$secondary-border-color: $sixth-color;
