

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
