@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: $primary-font-family;
  overflow: overlay;
  @-moz-document url-prefix() {
    overflow: auto;
  }
}
