@mixin absolute-zero-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin height-width-100-percent {
  width: 100%;
  height: 100%;
}

@mixin icon-size($size) {
	width: $size;
	height: $size;
}

@mixin input-placeholder {
	&::placeholder {@content};
	&::-webkit-input-placeholder {@content};
	&:-moz-placeholder {@content};
  &::-moz-placeholder {@content};
	&:-ms-input-placeholder {@content};
}

@mixin input-text {
  font-size: $primary-font-size;
  color: $input-text-color;
}

@mixin input {
  @include input-text;

  outline: none;

  @include input-placeholder {
    color: $input-placeholder-color;
  }
}

@mixin field {
  height: min-content;
  min-height: $field-min-height;
  padding: $field-paddings;
  border: 1px solid $field-border-color;
  border-radius: $field-border-radius;
  background-color: $field-bg-color;
  transition-duration: $primary-duration;
  &:hover {
    border-color: $field-border-color-hover;
  }

  &:focus {
    border-color: $field-border-focus-color;
  }

}

@mixin input-field {
  @include input;

  @include field;
}

@mixin tools-text {
  font-size: $primary-font-size;
  color: $tools-text-color;
}

@mixin description-text {
  font-size: $primary-font-size;
  line-height: 1.8rem;

  color: $text-primary-color;
}

@mixin button-text {
  font-size: $btn-primary-font-size;
  font-weight: 600;

  letter-spacing: -0.1px;

  color: $btn-text-color;
}

@mixin button-field {
  height: min-content;
  min-height: $btn-primary-min-height;
  padding: $btn-primary-paddings;

  cursor: pointer;
  transition-duration: $primary-duration;

  border: none;
  border-radius: $btn-border-radius;
  background-color: $btn-primary-bg-color;

  &:hover {
    background-color: $btn-primary-bg-color-hover;
  }
  &:active {
    background-color: $btn-primary-bg-color-focus;
  }
}

@mixin h3-title {
  font-size: $h3-font-size;
  font-weight: 600;
  color: $h3-color;
}

@mixin logo-text {
  font-size: $logo-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-third-color;
}

@mixin card-field {
  border-radius: $primary-border-radius;
  background-color: $third-bg-color;
  box-shadow: $primary-shadow;
}