@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin height-width-100-percent {
  width: 100%;
  height: 100%;
}

@mixin icon-size($size) {
	width: $size;
	height: $size;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	};

	&:-moz-placeholder {
		@content
	};

	&::-moz-placeholder {
		@content
	};

	&:-ms-input-placeholder {
		@content
	};
}