@import "colors";

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: $scroll-primary-bg-color;
  border-radius: 2rem;
}

::-webkit-scrollbar-corner {
  background-color: $scroll-primary-bg-color;
}
::-webkit-scrollbar-thumb {
  background-color: $scroll-secondary-bg-color;
  border-radius: 2rem;
  &:hover {
    background-color: $scroll-secondary-bg-hover-color;
  }
}

* {
  @-moz-document url-prefix() {
    scrollbar-color: $scroll-secondary-bg-mozilla-color $secondary-bg-color;
    scrollbar-width: thin;
  }
}
