@import "colors";
@import "variables";
@import "mixins";

:host {
  @include height-width-100-percent;
}

.field {
  @include height-width-100-percent;

  &__info {
    @include flex-row;

    justify-content: space-between;
    color: $text-primary-color;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: $primary-font-size;
    font-weight: 600;
  }
  &__required {
    font-size: $secondary-font-size;
  }
}
